/* * {
  margin: 0;
} */
/*
Part 1 - Landing Page
*/
.partone {
  /* height: 100vh; */
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
}
/* 
Part 2 Introduction 
*/
/* 
Part 3 - Party Cards
*/
.partthree {
  /* height: 100vh; */
  overflow: auto;
  white-space: nowrap;
}
.horizontalpage {
  display: inline-block;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
/* Party 1 Modal */
/* The Modal (background) */
 .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 2px;
  border: 1px solid #888;
  width: 100%;
}

/* The Close Button */
.close {
  float: right;
  font-size: 16px;
  font-weight: bold;
  padding: 0%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.tablewindow {
  height: 150px;
  display: block;
  overflow-x: auto;
  border-top: solid 1px #888;
}

/*
Part 4 - Desired Party
*/
